<%- include('../includes/head.ejs') %> <%- include('../includes/navbar.ejs') %>
<style>
  .detail {
    font-size: 12px;
  }
</style>
<div class="container mt-3">
  <ol class="breadcrumb" style="background-color: transparent">
    <li class="breadcrumb-item" style="font-size: 12px">
      <a href="/" class="text-primary">Home</a>
    </li>
    <li
      class="breadcrumb-item active"
      aria-current="page"
      style="font-size: 12px"
    >
      Detail
    </li>
  </ol>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img
          height="300"
          width="180"
          class="mx-auto"
          src="/<%= result.image %>"
        />
        <div class="card-body">
          <div class="row"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <span><%= result.author %></span>
      <h4><%= result.title %></h4>
      <span class="font-weight-bold">Description</span>
      <p class="text-justify"><%= result.description %></p>
      <span class="font-weight-bold">Detail</span>
      <div class="row">
        <div class="col-md-6">
          <span class="detail">Jumlah Halaman</span>
        </div>
        <div class="col-md-6">
          <span class="detail">Penerbit</span>
        </div>
        <div class="col-md-6">
          <span class="detail">123</span>
        </div>
        <div class="col-md-6">
          <span class="detail"> Gramedia Widiasarana Indonesia </span>
        </div>
        <div class="col-md-6 mt-3">
          <span class="detail">Tanggal Terbit</span>
        </div>
        <div class="col-md-6 mt-3">
          <span class="detail">Berat</span>
        </div>
        <div class="col-md-6">
          <span class="detail">12 Maret 2022</span>
        </div>
        <div class="col-md-6">
          <span class="detail">0.9 kg</span>
        </div>
        <div class="col-md-6 mt-3">
          <span class="detail">ISBN</span>
        </div>
        <div class="col-md-6 mt-3">
          <span class="detail">Lebar</span>
        </div>
        <div class="col-md-6">
          <span class="detail">9786020523316</span>
        </div>
        <div class="col-md-6">
          <span class="detail">12.5 cm</span>
        </div>
        <div class="col-md-6 mt-3">
          <span class="detail">Bahasa</span>
        </div>
        <div class="col-md-6 mt-3">
          <span class="detail">Panjang</span>
        </div>
        <div class="col-md-6">
          <span class="detail">Indonesia</span>
        </div>
        <div class="col-md-6">
          <span class="detail">20 cm</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h5 class="font-weight-bold mt-3">Review</h5>
    <div class="col-md-12 mt-3">
      <div class="row">
        <div class="col-md-12">
          <i
            class="fa fa-user-circle"
            style="color: #fbc252; font-size: 25px"
            aria-hidden="true"
          ></i>
          <span class="ml-2" style="font-weight: 600"> UserName By User </span>
        </div>
        <div class="col-md-12">
          <span class="text-justify">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam
            ducimus iste repellat vitae. Inventore ipsum enim illum, aliquid aut
            assumenda, doloribus corporis hic praesentium architecto voluptatem
            eligendi nisi atque quos!. Lorem ipsum dolor sit, amet consectetur
            adipisicing elit. Error voluptatibus itaque eligendi, perspiciatis
            soluta perferendis recusandae voluptates, nihil doloribus quam
            quidem adipisci dolor amet iusto explicabo reiciendis numquam! Sit,
            nesciunt.
          </span>
          <hr style="width: 100%" />
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-3">
      <div class="row">
        <div class="col-md-12">
          <i
            class="fa fa-user-circle"
            style="color: #fbc252; font-size: 25px"
            aria-hidden="true"
          ></i>
          <span class="ml-2" style="font-weight: 600"> UserName By User </span>
        </div>
        <div class="col-md-12">
          <span class="text-justify">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam
            ducimus iste repellat vitae. Inventore ipsum enim illum, aliquid aut
            assumenda, doloribus corporis hic praesentium architecto voluptatem
            eligendi nisi atque quos!. Lorem ipsum dolor sit, amet consectetur
            adipisicing elit. Error voluptatibus itaque eligendi, perspiciatis
            soluta perferendis recusandae voluptates, nihil doloribus quam
            quidem adipisci dolor amet iusto explicabo reiciendis numquam! Sit,
            nesciunt.
          </span>
          <hr style="width: 100%" />
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../includes/footer.ejs') %>
