<%- include('../includes/head.ejs') %> <%- include('../includes/navbar.ejs') %>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"
  rel="stylesheet"
/>
<style>
  .detail {
    font-size: 12px;
  }
</style>
<div class="container mt-3">
  <ol class="breadcrumb" style="background-color: transparent">
    <li class="breadcrumb-item" style="font-size: 12px">
      <a href="/" class="text-primary">Home</a>
    </li>
    <li
      class="breadcrumb-item active"
      aria-current="page"
      style="font-size: 12px"
    >
      Detail
    </li>
  </ol>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img
          height="300"
          width="180"
          class="mx-auto"
          src="/<%= result.image %>"
        />
        <div class="card-body">
          <div class="row"></div>
        </div>
      </div>
      <div class="text-center">
        <% if(isLoggedIn) { %>
        <button
          class="mt-3 btn btn-sm btn-primary"
          type="button"
          data-toggle="modal"
          data-target="#rateModal"
        >
          Reivew This Book
        </button>
        <% } else { %>
        <a href="/login" class="mt-3 btn btn-sm btn-primary">
          Login to review this book
        </a>
        <% } %>
      </div>
    </div>
    <div class="col-md-6">
      <span><%= result.author %></span>
      <h4><%= result.title %></h4>
      <span class="font-weight-bold">Description</span>
      <p class="text-justify"><%= result.description %></p>
      <span class="font-weight-bold">Detail</span>
      <div class="row">
        <div class="col-md-6">
          <span class="detail">Number Of Pages</span>
        </div>
        <div class="col-md-6">
          <span class="detail">Publisher</span>
        </div>
        <div class="col-md-6">
          <span class="detail"
            ><%= result.number_of_pages ? result.number_of_pages : '-' %></span
          >
        </div>
        <div class="col-md-6">
          <span class="detail"
            ><%= result.publisher ? result.publisher : '-' %>
          </span>
        </div>
        <div class="col-md-6 mt-3">
          <span class="detail">Publication Date</span>
        </div>
        <div class="col-md-6 mt-3">
          <span class="detail">Weight</span>
        </div>
        <div class="col-md-6">
          <span class="detail"
            ><%= result.publication_date ? result.publication_date : '-'
            %></span
          >
        </div>
        <div class="col-md-6">
          <span class="detail"
            ><%= result.heavy ? result.heavy + ' kg' : '-' %></span
          >
        </div>
        <div class="col-md-6 mt-3">
          <span class="detail">ISBN</span>
        </div>
        <div class="col-md-6 mt-3">
          <span class="detail">Width</span>
        </div>
        <div class="col-md-6">
          <span class="detail"><%= result.isbn ? result.isbn : '-' %></span>
        </div>
        <div class="col-md-6">
          <span class="detail"
            ><%= result.width ? result.width + ' cm' : '-' %></span
          >
        </div>
        <div class="col-md-6 mt-3">
          <span class="detail">Language</span>
        </div>
        <div class="col-md-6 mt-3">
          <span class="detail">Length</span>
        </div>
        <div class="col-md-6">
          <span class="detail"
            ><%= result.language ? result.language : '-' %></span
          >
        </div>
        <div class="col-md-6">
          <span class="detail"
            ><%= result.length ? result.length + ' cm' : '-' %></span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h5 class="font-weight-bold mt-3">Review</h5>
    <% for(let i = 0; i < result.ratings.length; i++) { %>
    <div class="col-md-12 mt-3">
      <div class="row">
        <div class="col-md-12">
          <i
            class="fas fa-user-circle"
            style="color: #fbc252; font-size: 25px"
            aria-hidden="true"
          ></i>
          <span class="ml-2" style="font-weight: 600">
            <%= result.ratings[i].user.username %>
          </span>
        </div>
        <div class="col-md-12">
          <span class="text-justify"> <%= result.ratings[i].review %> </span>
          <hr style="width: 100%" />
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="rateModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/review" method="POST">
        <div class="modal-body">
          <div class="col-md-12 text-center">
            <input type="hidden" name="rate" id="rate" />
            <input type="hidden" value="<%= bookIdEncrypted %>" name="bookId" />
            <input type="hidden" value="<%= user.id  %>" name="userId" />
            <p>Rate This Book</p>
            <span data-index="1">
              <i
                class="fa fa-star rating"
                style="font-size: 30px"
                aria-hidden="true"
                data-index="1"
              ></i>
            </span>
            <span data-index="2">
              <i
                class="fa fa-star rating"
                style="font-size: 30px"
                aria-hidden="true"
                data-index="2"
              ></i>
            </span>
            <span>
              <i
                class="fa fa-star rating"
                style="font-size: 30px"
                aria-hidden="true"
                data-index="3"
              ></i>
            </span>
            <span>
              <i
                class="fa fa-star rating"
                style="font-size: 30px"
                aria-hidden="true"
                data-index="4"
              ></i>
            </span>
            <span>
              <i
                class="fa fa-star rating"
                style="font-size: 30px"
                aria-hidden="true"
                data-index="5"
              ></i>
            </span>
          </div>

          <div class="col-md-12">
            <label for="review">Review</label>
            <textarea
              name="review"
              class="form-control"
              id=""
              cols="30"
              rows="10"
            ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary btn-sm">Submit</button>
          <button
            type="button"
            class="btn btn-secondary btn-sm"
            data-dismiss="modal"
          >
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include('../includes/footer.ejs') %>

<script>
  $(".rating").on("click", function () {
    let dataIndex = $(this).attr("data-index");
    $(".rating").each(function (i, object) {
      if (i < dataIndex) {
        $("#rate").val(dataIndex);
        $(this).animate({ color: "#FFA500" }, 100);
      } else {
        $("#rate").val(dataIndex);
        $(this).animate({ color: "black" }, 500);
      }
    });
  });
</script>
