<%- include('../includes/head.ejs') %> <%- include('../includes/navigation.ejs')
%>
<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary"><%= formTitle %></h6>
    </div>
    <div class="card-body">
      <form action="<%= action %>" method="POST" enctype="multipart/form-data">
        <input
          type="hidden"
          name="id"
          value="<%= book.id ? bookId : '' %>"
        />
        <div class="row">
          <div class="col-md-4 form-group">
            <label for="title">Title</label>
            <input
              type="text"
              name="title"
              id="title"
              class="form-control"
              placeholder="Title"
              required
              value="<%= book.title ? book.title : '' %>"
            />
          </div>
          <div class="col-md-4 form-group">
            <label for="category">Category</label>
            <select name="category" class="form-control" required>
              <option value="">-- Select Category --</option>
              <option value="Self Development" <%= book.category == 'Self Development' ? "selected" : "" %>>Self Development</option>
              <option value="Fiction" <%= book.category == 'Fiction' ? "selected" : "" %>>Fiction</option>
              <option value="History" <%= book.category == 'History' ? "selected" : "" %>>History</option>
              <option value="Economy" <%= book.category == 'Economy' ? "selected" : "" %>>Economy</option>
            </select>
          </div>
          <div class="col-md-4 form-group">
            <% if(book.id) { %>
            <div class="row">
              <div class="col-md-6">
                <img
                  width="100%"
                  height="100"
                  loading="lazy"
                  src="/img/books/<%= book.image %>"
                  alt="<%= book.title %>"
                />
              </div>
              <div class="col-md-6">
                <label for="image">Upload New Image</label>
                <input
                  type="file"
                  name="book-image"
                  id="image"
                  class="form-control"
                />
              </div>
            </div>
            <% } else { %>
            <label for="image">Image</label>
            <input type="file" name="book-image" id="image" class="form-control" />
            <% } %>
          </div>
          <div class="col-md-8 form-group">
            <label for="text">Description</label>
            <textarea
              class="form-control"
              name="description"
              id="description"
              cols="30"
              rows="5"
              placeholder="Some Description"><%= book.description ? book.description : '' %>
            </textarea>
          </div>
          <div class="col-md-4 form-group">
            <label for="text">Price</label>
            <input
              class="form-control"
              name="price"
              id="price"
              required
              value="<%= book.price ? book.price : '' %>"
            />
          </div>
        </div>
        <a href="/backoffice/books" class="btn btn-warning btn-sm rounded"
          ><%= translate('back') %>></a
        >
        <button type="submit" class="btn btn-primary btn-sm rounded">
          Save
        </button>
      </form>
    </div>
  </div>
</div>
<%- include('../includes/end.ejs') %>
